<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<div class="card m-5" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>First name : </strong>{{ userDetails.firstName }}</li>
    <li class="list-group-item"><strong>Last name  : </strong>{{ userDetails.lastName }}</li>
    <li class="list-group-item"><strong>E-Mail     : </strong>{{ userDetails.email }}</li>
    <li class="list-group-item"><strong>Username   : </strong>{{ userDetails.userName }}</li>
    <li class="list-group-item"><strong>User code  : </strong>{{ userDetails.userCode }}</li>
  </ul>
</div>
